.App {
  text-align: center;
}

.scores-container{
  font-family: 'Press Start 2P', cursive;
  color: #87CEFA;
  border: 3px solid #4366FE;
  margin: 2rem auto;
  width: 60%;
}

.scores-title {
  font-size: 1.25rem;
}

.toggle-button {
  font-size: 1.25rem;
  padding: 3px;
}